<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkout</title>
    <link rel="stylesheet" href="2_checkout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/favicon%20(1).ico">
    <script defer src="2_checkout.js"></script>


    <script defer src="../C1_OnlyHeader/Zoekbalk.js"></script>
    <link rel="stylesheet" href="../C2_OnlyFooter/OnlyFooter_1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../C1_OnlyHeader/checkoutHeader.css">
    <script defer src="../C1_OnlyHeader/OnlyHeader_1.js"></script>


</head>
<body>
<div class="top-bar">
    <p id="naamVanKlant"> </p>
    <i class="fas fa-user" id="user-icon"></i>
    <a id="login" href="../P2_OnlyNewUser_Inlog/login.html">Login</a>
    <!-- ../../Components/P2_OnlyNewUser_Inlog/login.html -->
</div>
<div class="account" id="account">
    <h4>Account</h4>
    <a href="../P3_AccountPagina/AccountPagina.html">Profiel</a>
    <a>Orders</a>
    <a>Account Settings</a>
    <a id="logout" href="../P1_OnlyStartPagina/OnlyStartPagina_1.html">Logout</a>
</div>
<header>
    <div class="header">
        <div class="flex">
            <!--logo-->
            <div>
                <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html" class="header-logo">
                    <div>
                        <p class="header-logo-slogan">Huur, Lees & Donneer</p>
                        <p class="header-logo-name" >PAGED</p>
                    </div>
                    <img alt="" class="header-logo-img" src="../../assets/logo.png">
                </a>
            </div>
            <div class="flex-column">
                <div>
                    <div class="nav icons none-display">
                        <ul>

                            <li><i class="fas fa-heart"></i></li>
                            <li><i class="fas fa-user"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="nav navbar">
                    <ul>
                        <li class="big-display"><a href="../P1_OnlyStartPagina/OnlyStartPagina_1.html">Start</a></li>
                        <li class="big-display"><a href="../P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html">Winkel</a></li>
                        <!--               <li class="big-display" id="accountItem"><a href="../../Components/P2_OnlyNewUser_Inlog/login.html">Account</a></li>-->
                        <li class="big-display"><a href="../P6_OnlyContactPagina/ContactPagina_2.html">Contact</a></li>
                        <li class="small-display"><i class="fas fa-bars" id="small-display-btn"></i></li>

                        <li ><a class="fas fa-shopping-cart" href="1_shoppingCart.html"><span>0</span></a></li>
                        <li><form action="" class="search-form">
                            <label for="zoekbalk"><i class="fas fa-search" id="zoek-icon"></i></label>
                            <input  id="zoekbalk" placeholder="hoe kunnen we je helpen?">
                        </form></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="small-display-dropdown" id="small-display-content">
        <a href="../P1_OnlyStartPagina/OnlyStartPagina_1.html">Start</a>
        <a href="../P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html">Winkel</a>
        <a  id="small-display-dropdown-accountBtn">Account</a>
        <a href="../P6_OnlyContactPagina/ContactPagina_2.html">Contact</a>
    </div>
</header>
<div class="container">

    <div id="left-container">
        <div class="Bezorgopties">
            <h1>Bezorgopties</h1>
            <div class="opties" >
                <a href="javascript:showCustomerInfo()">  <div class="verzend">
                    <h2>verzend </h2>
                    <div id="autologo"> <svg aria-hidden="true" class="css-11oobwz" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none" style="right: 0;">
                        <path stroke="currentColor" stroke-width="1.5" d="M8.25 16.5a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm12 .033a2.25 2.25 0 11-4.502-.001 2.25 2.25 0 014.502.001z" clip-rule="evenodd"></path><path stroke="currentColor" stroke-width="1.5" d="M15.75 16.565H8.5M.75 11.5V14A2.25 2.25 0 003 16.25h.25m16.25-6.5H3A2.25 2.25 0 01.75 7.5V5.25h17.189c.2 0 .39.079.531.22l4.56 4.56a.75.75 0 01.22.531v3.689A2.25 2.25 0 0121 16.5h-.75"></path></svg>
                    </div>
                </div></a>


             <a href="2_checkoutPage.html">  <div class="ophalen">
                    <h2>ophalen</h2>
                    <div id="maplogo">
                        <svg aria-hidden="true" class="css-11oobwz" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none" style="right: -6px;">
                            <path fill="currentColor" d="M12 21.747l-.468.586a.75.75 0 00.936 0L12 21.747zM18 9c0 .92-.303 2.081-.824 3.362-.515 1.269-1.222 2.6-1.974 3.843a38.411 38.411 0 01-2.217 3.274c-.695.914-1.223 1.498-1.453 1.682l.936 1.172c.395-.314 1.023-1.042 1.711-1.947a39.904 39.904 0 002.306-3.404c.78-1.288 1.526-2.691 2.08-4.055.55-1.352.935-2.723.935-3.927H18zm-5.532 12.16c-.23-.183-.758-.767-1.453-1.681a38.41 38.41 0 01-2.217-3.274c-.752-1.243-1.458-2.574-1.974-3.843C6.303 11.081 6 9.921 6 9H4.5c0 1.204.385 2.575.934 3.927.555 1.364 1.302 2.767 2.08 4.055.78 1.288 1.6 2.474 2.307 3.404.688.905 1.316 1.633 1.711 1.947l.936-1.172zM6 9a6 6 0 016-6V1.5A7.5 7.5 0 004.5 9H6zm6-6a6 6 0 016 6h1.5A7.5 7.5 0 0012 1.5V3z"></path>
                            <path stroke="currentColor" stroke-width="1.5" d="M15.25 9a3.25 3.25 0 11-6.5 0 3.25 3.25 0 016.5 0z" clip-rule="evenodd">

                            </path></svg>

                    </div>
                </div></a>


            </div>
            <div id="adres">
                <h3>Contact info</h3>
                <a href="../../Components/P6_OnlyContactPagina/ContactPagina_2.html" class="links"> <i class="fas fa-phone"></i>+32 478 20 45 86 </a>
                <a href="mailto:info@paged.be" class="links"> <i class="fas fa-envelope"></i>info@paged.be  </a>
                <a href="https://www.google.com/maps/place/Hasseltweg+4,+3600+Genk" class="links"><i class="fas fa-map-marker-alt"></i>Hasseltweg 4
                    <br>3600 Genk</a>
            </div>
        </div>
            <!--<div class="klantInfo">

            </div>-->
        </div>
    <div class="right-container">
        <div class="WinkelWagen">
            <div class="productInCart">
              <div> <h1 id="productInCarth1">In je winkelmandje</h1></div>
               <div><a id="bewerk" href="1_shoppingCart.html"><h4>bewerk</h4></a></div>
            </div>

            <div id="products"></div>
            <div class="product-total">
                <h3>Total</h3>
                <span>0</span>
            </div>
            </div>
        <div class="beslist">
            <div id="checkout">
                <a href="3_BillingAddress.html">Ga naar de kassa</a>
            </div>
            <div id="cancel">
                <a href="javascript:cancelOreder()">annuleer bestelling</a>
            </div>

        </div>
        </div>

</div>
<footer>
    <div class="footer-box-container">
        <!--ons  logo en slogo , links social media  -->
        <div class="box  footerlogo">
            <h3> Paged <img class="logo-img" src="../../assets/logo.png" alt=""> </h3>
            <p>Lees, Huur & Doneeer</p>
            <div class="share">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://www.twitter.com" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com" class="fab fa-linkedin"></a>
            </div>
        </div>
        <!-- ons  telefoon nummer , email , aderes -->
        <div class="box contactlinks">
            <h3>Contact info</h3>
            <a href="../../Components/P6_OnlyContactPagina/ContactPagina_2.html" class="links"> <i class="fas fa-phone"></i>+32 478 20 45 86 </a>
            <a href="mailto:info@paged.be" class="links"> <i class="fas fa-envelope"></i>info@paged.be  </a>
            <a href="https://www.google.com/maps/place/Hasseltweg+4,+3600+Genk" class="links"><i class="fas fa-map-marker-alt"></i>Hasseltweg 4
                <br>3600 Genk</a>
        </div>

        <!-- openingsuen -->
        <div class="box openingsuren">
            <h3>Openingsuren</h3>
            <div class="grid-openingsuren">
                <div class="box-days">
                    <p><span>W</span>oensdag tot
                        <span>V</span>rijdags</p>
                    <span class="openings-day">10.30 - 17.30</span>

                    <p><span>M</span>aandag en
                        <span>Z</span>aterdag</p>
                    <span class="openings-day">13.30 - 16.00</span>

                    <p><span>D</span>insdag en
                        <span>Z</span>ondag</p>
                    <span class="openings-day">Gesloten</span>
                </div>

            </div>
        </div>
        <!-- links-->
        <div class="box navigeer">
            <h3>Navigeer</h3>
            <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html" class="links"> <i class="fas fa-arrow-right"></i>Start</a>
            <a href="../../Components/P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html" class="links"> <i class="fas fa-arrow-right"></i>Winkel</a>
            <a id="account-btn-footer"  class="links"> <i class="fas fa-arrow-right"></i>Account</a>
            <a href="../../Components/P1_OnlyStartPagina/Doneer.html" class="links"> <i class="fas fa-arrow-right"></i>Doneer</a>
            <a href="../../Components/P7_OnlyRechtenPagina/OnlyRechtenPagina_1.html" class="links"> <i class="fas fa-arrow-right"></i>Rechten</a>
        </div>


    </div>

    <div class="credit">Gemaakt door<span>Team 4</span></div>

</footer>
</body>

</html>