<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="3_billingAddress.css" rel="stylesheet">
  <link href="3_PaymentPage.css" rel="stylesheet">

  <script defer type="text/javascript" src="4_NewPayment.js"></script>
  <script defer src="4_CHECK_KLANT.js"></script>


</head>
<body>
<div class="header">
  <div class="sub-header">
    <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html" class="header-logo">
      <div>
        <p class="header-logo-slogan">Huur, Lees & Donneer</p>
        <p class="header-logo-name" >PAGED</p>
      </div>
      <img id="logoImg" alt="" class="header-logo-img" src="../../assets/logo.png">
    </a>
  </div>
  <div class="small-display-dropdown" id="small-display-content">
    <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html">Start</a>
    <a href="../../Components/P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html">Winkel</a>
    <a href="../P6_OnlyContactPagina/ContactPagina_2.html">Contact</a>
  </div>
  <div class="top-bar">
    <p id="naamVanKlant"> </p>
    <i class="fas fa-user" id="user-icon"></i>
    <a id="login" href="../P2_OnlyNewUser_Inlog/login.html">Login</a>
  </div>
  <div>

  </div>
  <div class="account" id="account">
    <h4>Account</h4>
    <a href="../P3_AccountPagina/AccountPagina.html">Profiel</a>
    <a>Orders</a>
    <a>Account Settings</a>
    <a id="logout" href="../P1_OnlyStartPagina/OnlyStartPagina_1.html">Logout</a>
  </div>
</div>
<div class="container">



  <form >
    <div class="col">

      <h3 class="title">betaling</h3>

      <div class="inputBox">
        <span>kaarten geaccepteerd :</span>
        <img src="../../assets/card_img.png" alt="" >
      </div>
      <div class="inputBox">
        <span>naam op kaart :</span>
        <input type="text" id="inputNaamOpKaart" placeholder="mr. cees spelt" required>
        <div id="juisteNaam">Geef een juiste naam</div>
      </div>
      <div class="inputBox">
        <span>credit card nummer :</span>
        <input type="text" id="inputKaartNummer" placeholder="1111-2222-3333-4444" required>
      </div>
      <div class="inputBox">
        <span>vervalmaand :</span>
        <input type="month" id="inputVervalMaand" placeholder="january" required>
      </div>

      <div class="flex">
        <div class="inputBox">
          <span>vervaljaar :</span>
          <input type="number" max="2099" min="1900" id="inputVervalJaar" placeholder="2022" required>
        </div>
        <div class="inputBox">
          <span>CVV :</span>
          <input type="text" id="inputCvv" placeholder="1234" required>
        </div>
      </div>

    </div>

    <div class="radioButtons">
      <p>Kaart gegevens opslaan</p>
      <input type="radio" name="radio" value="Ja" id="radioBtnJa">
      <label for="radioBtnJa" class="labelJa">
        <span>Ja</span>
      </label>
      <input type="radio" name="radio" value="Nee" id="radioBtnNee">
      <label for="radioBtnNee" class="labelNee">
        <span>Nee</span>
      </label>
    </div>
    <input type="button" class="submit-btn" value="Proceed to checkout"  id="btnProceedCheckout">

</form>


</div>

</body>
</html>