<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmatie</title>
    <link rel="icon" href="../../assets/favicon%20(1).ico">
    <link href="Confirmatie.css" rel="stylesheet">
    <script defer type="text/javascript" src="confirmatie.js"></script>
</head>
<body>
<div class="header">
    <div class="sub-header">
        <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html" class="header-logo">
            <div>
                <p class="header-logo-slogan">Huur, Lees & Donneer</p>
                <p class="header-logo-name" >PAGED</p>
            </div>
            <img id="logoImg" alt="Logo" class="header-logo-img" src="logo.png">
        </a>
    </div>
    <div class="small-display-dropdown" id="small-display-content">
        <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html">Start</a>
        <a href="../../Components/P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html">Winkel</a>
        <a href="../P6_OnlyContactPagina/ContactPagina_2.html">Contact</a>
    </div>
    <div class="top-bar">
        <p id="naamVanKlant"> </p>
        <i class="fas fa-user" id="user-icon"></i>
        <a id="login" href="../P2_OnlyNewUser_Inlog/login.html">Login</a>


        <!-- ../../Components/P2_OnlyNewUser_Inlog/login.html -->
    </div>
    <div class="account" id="account">
        <h4>Account</h4>
        <a href="../P3_AccountPagina/AccountPagina.html">Profiel</a>
        <a>Orders</a>
        <a>Account Settings</a>
        <a id="logout" href="../P1_OnlyStartPagina/OnlyStartPagina_1.html">Logout</a>
    </div>
</div>

<div class="content">



</div>

</body>
</html>