<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Kalender.css">
    <script defer src="Kalender2.0.js"></script>
</head>
<body>
<main>
    <div class="container">
        <div class="kalender">
            <div class="kalender--top">
                <div class="kalender--btn btn--left"> < </div>
                <div class="kalender-months" id="maand"></div>
                <div class="kalender--btn btn--right"> > </div>
            </div>
            <div class="kalender--bottom">
                <div class="kalender-weekday">
                    <div>Ma</div>
                    <div>Di</div>
                    <div>Wo</div>
                    <div>Do</div>
                    <div>Vr</div>
                    <div>Za</div>
                    <div>Zo</div>
                </div>
                <div class="kalender-days" id="dagen">
                    <!--hier komen de dagen door js -->
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>