<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Kalender.css">
    <!-- link voor logos die gebruikt worden op de site-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script defer src="Kalender2.0.js"></script>
    <link rel="stylesheet" href="../C2_OnlyFooter/OnlyFooter_1.css">
    <link rel="stylesheet" href="../C1_OnlyHeader/OnlyHeader_1.css">
    <script defer src="../C1_OnlyHeader/OnlyHeader_1.js"></script>
    <script defer src="../C1_OnlyHeader/Zoekbalk.js"></script>
    <script defer src="../C1_OnlyHeader/CheckKlant.js"></script>


</head>
<body>
<div class="top-bar">
    <p id="naamVanKlant"> </p>
    <i class="fas fa-user" id="user-icon"></i>
    <a id="login" href="../P2_OnlyNewUser_Inlog/login.html">Sign In</a>
    <a id="logout" href="../P1_OnlyStartPagina/OnlyStartPagina_1.html">Log out</a>

    <!-- ../../Components/P2_OnlyNewUser_Inlog/login.html -->
</div>
<div class="account" id="account">
    <h4>Account</h4>
    <a href="../P3_AccountPagina/AccountPagina.html">Profiel</a>
    <a>Orders</a>
    <a>Account Settings</a>
</div>
<header>

    <div class="header">
        <div class="flex">
            <!--logo-->
            <div>
                <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html" class="header-logo">
                    <div>
                        <p class="header-logo-slogan">Huur, Lees & Donneer</p>
                        <p class="header-logo-name" >PAGED</p>
                    </div>
                    <img alt="" class="header-logo-img" src="../../assets/logo.png">
                </a>
            </div>
            <div class="flex-column">
                <div>
                    <div class="nav icons none-display">
                        <ul>

                            <li><i class="fas fa-heart"></i></li>
                            <li><i class="fas fa-user"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="nav navbar">
                    <ul>
                        <li class="big-display"><a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html">Start</a></li>
                        <li class="big-display"><a href="../../Components/P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html">Winkel</a></li>
                        <!--               <li class="big-display" id="accountItem"><a href="../../Components/P2_OnlyNewUser_Inlog/login.html">Account</a></li>-->
                        <li class="big-display"><a href="../P6_OnlyContactPagina/ContactPagina_2.html">Contact</a></li>
                        <li class="small-display"><i class="fas fa-bars" id="small-display-btn"></i></li>

                        <li ><a class="fas fa-shopping-cart" href="../P8_WinkelWagenPagina/1_shoppingCart.html"><span>0</span></a></li>
                        <li><form action="" class="search-form">
                            <label for="zoekbalk"><i class="fas fa-search" id="zoek-icon"></i></label>
                            <input  id="zoekbalk" placeholder="hoe kunnen we je helpen?">
                        </form></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="small-display-dropdown" id="small-display-content">
        <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html">Start</a>
        <a href="../../Components/P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html">Winkel</a>
        <a id="small-display-dropdown-accountBtn">Account</a>
        <a href="../P6_OnlyContactPagina/ContactPagina_2.html">Contact</a>
    </div>
</header>
<main>
    <div id="link"></div>
    <div class="grid">
        <div id="infor" class="information">
            <button id="btn-beverstigen">Bevestigen</button>
            <div id="boek_img"></div>
            <div id="boek-dates"></div>
            <div id="selected_dates"></div>
        </div>
        <div class="container">
            <div class="kalender">
                <div class="kalender--top">
                    <div class="kalender--btn btn--left"> < </div>
                    <div class="kalender-months" id="maand"></div>
                    <div class="kalender--btn btn--right"> > </div>
                </div>
                <div class="kalender--bottom">
                    <div class="kalender-weekday">
                        <div>Ma</div>
                        <div>Di</div>
                        <div>Wo</div>
                        <div>Do</div>
                        <div>Vr</div>
                        <div>Za</div>
                        <div>Zo</div>
                    </div>
                    <div class="kalender-days" id="dagen">
                        <!--hier komen de dagen door js -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<footer>
        <div class="footer-box-container">
            <!--ons  logo en slogo , links social media  -->
            <div class="box  footerlogo">
                <h3> Paged <img class="logo-img" src="../../assets/logo.png" alt=""> </h3>
                <p>Lees, Huur & Doneeer</p>
                <div class="share">
                    <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                    <a href="https://www.twitter.com" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com" class="fab fa-linkedin"></a>
                </div>
            </div>
            <!-- ons  telefoon nummer , email , aderes -->
            <div class="box contactlinks">
                <h3>Contact info</h3>
                <a href="../../Components/P6_OnlyContactPagina/ContactPagina_2.html" class="links"> <i class="fas fa-phone"></i>+32 478 20 45 86 </a>
                <a href="mailto:info@paged.be" class="links"> <i class="fas fa-envelope"></i>info@paged.be  </a>
                <a href="https://www.google.com/maps/place/Hasseltweg+4,+3600+Genk" class="links"><i class="fas fa-map-marker-alt"></i>Hasseltweg 4
                    <br>3600 Genk</a>
            </div>

            <!-- openingsuen -->
            <div class="box openingsuren">
                <h3>Openingsuren</h3>
                <div class="grid-openingsuren">
                    <div class="box-days">
                        <p><span>W</span>oensdag tot
                            <span>V</span>rijdags</p>
                        <span class="openings-day">10.30 - 17.30</span>

                        <p><span>M</span>aandag en
                            <span>Z</span>aterdag</p>
                        <span class="openings-day">13.30 - 16.00</span>

                        <p><span>D</span>insdag en
                            <span>Z</span>ondag</p>
                        <span class="openings-day">Gesloten</span>
                    </div>

                </div>
            </div>
            <!-- links-->
            <div class="box navigeer">
                <h3>Navigeer</h3>
                <a href="../../Components/P1_OnlyStartPagina/OnlyStartPagina_1.html" class="links"> <i class="fas fa-arrow-right"></i>Start</a>
                <a href="../../Components/P4_OnlyWinkelPagina/pageByJS_Winkelpagina.html" class="links"> <i class="fas fa-arrow-right"></i>Winkel</a>
                <a id="account-btn-footer"  class="links"> <i class="fas fa-arrow-right"></i>Account</a>
                <a href="../../Components/P1_OnlyStartPagina/Doneer.html" class="links"> <i class="fas fa-arrow-right"></i>Doneer</a>
                <a href="../../Components/P7_OnlyRechtenPagina/OnlyRechtenPagina_1.html" class="links"> <i class="fas fa-arrow-right"></i>Rechten</a>
            </div>


        </div>

        <div class="credit">Gemaakt door<span>Team 4</span></div>

    </footer>
</body>
</html>